.panel
    background-color: transparent
    width: 95%
    height: 100%
    min-height: 1100px
    padding: 3%
    padding-top: 2%
    transition: all .4s
    @media only screen and (max-width: 600px)
        width: 100%
    &__container
        background-color: transparent
        height: 95%
    &__reportcontainer
        height: 40%
        min-width: 1200px
    &__title
        display: flex
        align-items: center
        flex-direction: row
        width: 100%
    &__topCharts
        height: 90%
        width: 100%
        min-height: 200px
        display: flex
        justify-content: space-between
        
    &__top
        height: 100%
        width: 100%
        flex-wrap: wrap
        display: flex
        max-height: 350px

    &__protfolio-section
        height: 100%
        width: 25%
        min-width: 300px
    &__protfolio
        justify-content: center
        display: flex
        align-items: center
        width: 100%
        min-width: 100px
        border-radius: 5px
        box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.3)
        color: #676976
        height: 100%
        margin-bottom: 20px
        position: relative
        padding: 20px 30px
        background-color: #dddbe7
    &__portfolio-list
        width: 100%
        padding: 0
        margin: 0
        font-size: 10px
        border-spacing: 0 10px
        white-space: nowrap
    &__value
        right: 20px
        border-top: solid 1px #5eb5f8
        display: flex
        justify-content: space-between
        align-items: center
        position: absolute
        bottom: 5px
        width: 90%
    &__lower
        height: 50%
        width: 100%
        position: relative
    &__bottom
        width: 89%
        min-width: 1390px
        min-height: 150px
        display: flex
        justify-content: space-between
    &__notificationlist
        width: 30px
        min-width: 300px
        display: flex
        align-items: flex-start
    &__list
        margin: 0
        padding-left: 0
    &__listcontent
        height: 90px    
        display: flex
        justify-content: space-between
        align-items: center
        border-radius: 5px
        width: 500px
        margin: 8px
        margin-bottom: 20px
        margin-left: 0px
        padding: 10px
        color : #fefdff
        box-shadow : 0px 0px 20px 0 rgba(0, 0, 0, 0.08)
        background-color: #dddbe7
        h4
            color: black
        h5
            color: black
        h6
            color: black

        
        
       
        


.chartLink
    width: 30%
    min-width: 200px
    margin-right: 4.5%

.emChart
    background-color: #dddbe7
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.3)
    width: 100%
    flex-direction: column
    position: relative
    display: flex
    border-radius: 5px
    align-items: center
    justify-content: center
    text-align: center
    margin-bottom: 20px
    min-width: 250px
    height: 100%
    cursor: pointer
    &__chart
        width: 100%
        height: 40%
        position: absolute
        top: 40px
        display: block
    &__info
        position: absolute
        bottom: 0
        display: flex
        justify-content: space-between
        width: 100%
        padding: 30px
        padding-bottom: 2px
        align-items: center
        font-weight: 400
        h3
            color: black
    &__name
        background: linear-gradient(90deg,#7c83ff 30%,#7cc1ff)
        border-radius: 10px
        width: 20%
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3)
        